/* =================HEADER================================= */


/* #wp-menu-header {
    position: fixed;
    z-index: 1;
    width: 100%;
} */


/* #menu-header {
    background: var(--bg-header); 
    background-color: rgba(35, 0, 0, 0.4);
} */


/* .change-background-header {
    background: transparent !important;
}

#main-nav {
    margin-left: 100px;
}

.active {
    border-bottom: 1px solid #4ec5b6;
}

#main-nav ul li {
    margin-right: 2rem;
}

#main-nav ul li a {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    padding-bottom: 0px;
}

#login-header {
    position: relative;
    min-height: 72rem;
    background: url(https://cdn-static.ymeet.me/general/BrandingPage/HeroBrackgroud.png) top no-repeat;
    background-size: cover;
}

.content-header {
    width: 100%;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    padding-left: 1rem;
}

.introduce-header>h2 {
    font-size: 3rem;
    text-transform: uppercase;
    color: #fff;
    margin-bottom: 2.5rem;
}

.introduce-header>p {
    font-weight: 300;
    color: #fff;
} */


/* =================CONTENT================================ */


/* giới thiệu webchat */

.introduce-webchat {
    padding: 10rem .9375rem;
}

.introduce-webchat>img {
    left: 0;
}

.itd-webchat-header>h2 {
    font-size: 1.95313rem;
    margin: 3em 0px;
}

.itd-webchat-header>h2::after {
    bottom: 7.1875rem;
    left: 10.5rem;
    width: 6.125rem;
    content: "";
    position: absolute;
    height: .375rem;
    border-radius: .1875rem;
    background-color: #59d9ca;
}

.itd-webchat-content>p {
    color: #858585;
    font-weight: 300;
    font-size: 1.25rem;
    line-height: 2;
    font-family: 'Times New Roman', Times, serif;
}

.itd-webchat-content>p>b {
    font-weight: bolder;
    color: #17a1c9;
}


/* Tác dụng của webchat */

.useful-webchat {
    padding: 19rem .9375rem;
    background: url(https://cdn-static.ymeet.me/general/BrandingPage/SectionBackground.png) top no-repeat;
    background-size: cover;
}

.uf-webchat-content ul li {
    margin-top: 2rem;
}

.uf-webchat-content ul li>img {
    width: 6.25rem;
    height: 6.25rem;
}

.featured-content {
    margin-left: 1.25rem;
    font-family: 'Times New Roman', Times, serif;
}

.featured-content>h4 {
    padding-top: .625rem;
    font-size: 1.25rem;
    font-weight: bold;
    margin-bottom: 1.625rem;
}

.featured-content>p {
    color: #858585;
}


/* ======More info------- */

.more-info-webchat {
    font-family: 'Times New Roman', Times, serif;
    padding: 10rem .9375rem;
}

.more-info-detail-leftside {
    margin-bottom: 1rem;
}

.more-info-detail-leftside>h4 {
    margin: 2rem 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.more-info-detail-leftside>h4::after {
    left: calc(50% - 3.0625rem);
    bottom: 6.75rem;
    width: 6.125rem;
    content: "";
    position: absolute;
    height: .1875rem;
    border-radius: .1875rem;
    background-image: linear-gradient(9deg, #0e3672, #1a83a0 35%, #26d0ce);
}

.more-info-detail-leftside>p {
    color: #858585;
}

.more-info-detail-rightside>h4 {
    font-size: 2rem;
    font-weight: bold;
    margin: 2rem 0;
}

.more-info-detail-rightside>h4::after {
    bottom: 27rem;
    width: 6.125rem;
    content: "";
    position: absolute;
    left: auto;
    right: 1rem;
    height: .375rem;
    border-radius: .1875rem;
    background-color: #59d9ca;
}

.more-info-detail-rightside>img {
    padding-top: 1.25rem;
}


/* =========More-user-webchat===== */

.num-user-webchat {
    padding: 2rem .9375rem 3rem;
}

.num-user-webchat ul li {
    display: inline-block;
    font-family: 'Times New Roman', Times, serif;
    padding: 0 1rem;
}

.num-user-webchat ul li>h3 {
    margin: 1rem 0;
    color: #17a1c9;
    font-size: 1.5625rem;
    font-weight: bold;
}

.num-user-webchat ul li>p {
    color: #000;
    font-weight: 300;
    font-size: 1.25rem;
}


/* user say */

.comment-user-webchat {
    font-family: 'Times New Roman', Times, serif;
    position: relative;
    padding-top: 6rem;
    padding-bottom: 15rem;
}

.comment-user-tittle h3 {
    font-size: 1.5625rem;
    font-weight: 400;
}

.comment-user-tittle h3::after {
    left: calc(50% - 3.0625rem);
    bottom: 5.5rem;
    width: 6.125rem;
    content: "";
    position: absolute;
    height: .375rem;
    border-radius: .1875rem;
    background-color: #59d9ca;
}

.comment-user-tittle p {
    padding-top: 1.75rem;
    color: #858585;
    font-size: 1rem;
}

.comment-user-content {
    margin-top: 1rem;
}

p.comment {
    margin-bottom: 2rem;
    color: #858585;
    font-size: 1rem;
    padding: .625rem;
    background: #f5f5f5;
    border-radius: .1875rem;
    position: relative;
}

.user-info>img {
    margin-bottom: 1rem;
    width: 5rem;
}

.user-info>h3 {
    color: #d43900;
    font-size: 1rem;
}

.user-info>p {
    color: #858585;
    font-size: .8rem;
}

.users-img {
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}


/* =================FOOTER================================= */

.footer-contact-us {
    background: url("../img/SectionBackground-1.png");
    background-size: cover;
    margin-top: -6rem;
    padding: 13.525rem 0 5.125rem;
}

.footer-contact-us input {
    color: #fff;
    width: 100%;
    padding: 0 1.5625rem;
    margin-bottom: 2rem;
    border: .125rem solid #fff;
    border-radius: 1.5625rem;
    background-color: transparent;
    height: 3.125rem;
}

.footer-contact-us input::placeholder {
    color: #fff;
}

#content-input {
    height: 12.5rem;
    margin-bottom: 4rem;
    color: #fff;
    width: 100%;
    padding: 0.5rem 1.5625rem;
    border: .125rem solid #fff;
    border-radius: 1.5625rem;
    background-color: transparent;
}

textarea#content-input::placeholder {
    color: #fff;
}

button#btn-submit {
    padding: 1rem 3rem;
    border-radius: 2rem;
}

#send-feedback {
    color: #fff;
    font-family: 'Times New Roman', Times, serif;
}

#send-feedback>h2::after {
    bottom: 25.5rem;
    right: 1rem;
    width: 6.125rem;
    content: "";
    position: absolute;
    height: .375rem;
    border-radius: .1875rem;
    background-color: #59d9ca;
}

#send-feedback>p {
    margin-top: 2rem;
}


/* footer-info-us */

.footer-info-us {
    background-color: #060a1c;
    padding-top: 1rem;
    padding-bottom: 2rem;
}

.menu-footer>ul {
    margin: .875rem 0;
}

.menu-footer>ul>li {
    display: inline-block;
    margin-right: 1rem;
}

.menu-footer>ul>li>a {
    color: #fff;
    text-decoration: none;
}

.info-us {
    font-family: 'Times New Roman', Times, serif;
    color: #fff;
}

.info-us>h4 {
    font-size: 1.45rem;
}

.info-us>p {
    margin-bottom: 0px;
}

.announce-img>img {
    width: 200px;
    height: auto;
}