/* ==========================================HEADER============================================ */

:root {
    --bg-header: #8E8E8D;
}

.active {
    border-bottom: 1px solid #4ec5b6;
}

body a:hover {
    text-decoration: none;
}


/* -------Menu Header------- */

#wp-menu-header {
    position: fixed;
    z-index: 1;
    width: 100%;
}

#menu-header {
    /* background: var(--bg-header); */
    background-color: rgba(35, 0, 0, 0.4);
}

#main-nav {
    margin-left: 100px;
}

#main-nav ul li a {
    font-size: 20px;
    text-transform: uppercase;
    font-weight: bold;
    color: #fff;
    margin-right: 32px;
}

#login-header {
    height: 600px;
    width: 100%;
    background-image: url("../img/hero_bg.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.login-content {
    width: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -10%);
}

.login-content h2 {
    font-size: 39px;
    font-weight: 400;
    color: #fff;
    margin-bottom: 32px;
}


/* Login  */

.login-btn {
    margin-bottom: 1rem;
    min-width: 23rem;
    display: inline-block;
    margin: 0 .625rem;
    height: 4.375rem;
    background-image: linear-gradient(1turn, #2954a3, #507fd5);
    padding: 0 1.2rem 0 0;
    position: relative;
    color: #fff;
    text-decoration: none;
    background-color: #858585;
    box-shadow: 0 0.125rem 0.125rem 0 rgba(1, 1, 1, .27);
    border: 0;
    border-radius: .25rem;
}

.icon-bg {
    display: inline-block;
    width: 4.375rem;
    height: 4.375rem;
    border-right: 1px solid #d2caca85;
    border-radius: 0;
    border-top-left-radius: .25rem;
    border-bottom-left-radius: .25rem;
    text-align: center;
    position: relative;
}

.icon-bg>img {
    margin-top: .9375rem;
    max-width: 100%;
    vertical-align: middle;
}

.txt-login {
    margin-left: 1.25rem;
    margin-top: 1rem;
    color: #fff;
}

.txt-login span {
    font-size: 1.25rem;
}

#login-by-fb,
.fb-icon {
    background-image: linear-gradient(1turn, #2954a3, #507fd5);
}

#login-by-google {
    background-image: linear-gradient(1turn, #c63f28, #f86045);
}

.google-icon,
#login-by-me {
    background: #fff;
}

@keyframes down-here {
    from {
        top: 205px;
    }
    to {
        top: 250px;
    }
}

.down-here i {
    color: red;
    font-size: 50px;
    position: absolute;
    top: 205px;
    animation-name: down-here;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    /* animation-timing-function: linear; */
    animation-direction: alternate;
}

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 25px;
    display: none;
    z-index: 1;
}