body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    background: #dae2f8 linear-gradient(90deg, #f7c9c9, #91a8d1)
}

#wrapper {
    width: 660px;
    margin: 0px auto;
    background: #fff;
    min-height: 100vh;
}


/* ul menu */

ul#myPill {
    border-bottom: 1px solid #e8d5d5;
    position: sticky;
    top: 0;
    z-index: 1;
    background: #fff;
}

ul#myPill>li a {
    color: #797687;
}

ul#myPill>li a i {
    font-size: 22px;
}

.nav-pills .nav-link.active {
    color: #fff !important;
}


/* change avatar */

.card_link {
    position: relative;
    text-align: center;
}

.card_meta {
    position: absolute;
    top: 145px;
    left: 0;
    background: rgba(0, 0, 0, .5);
    color: #fff;
    padding: 15px;
    width: 100%;
    text-align: center;
}

.card_meta>label {
    margin-top: 5px !important;
}

.card_meta>label:hover {
    cursor: pointer;
}

.card_link>img:hover {
    border: 1px solid blue;
}


/* List-img */
#list_your_image li {
    
     border: 1px solid #e1e1e1;
     cursor: pointer;
     position:relative;
}
#list_your_image img {
     width: 9rem;
     height: 9rem;    
}
.del_img_user{
     position:absolute;
     right:0;
     display:none;
}
#list_your_image li:hover i{
     display:inline-block;
}
.tittle-item {
     font-size: 1.16667rem;
     font-weight: 700;
     color: #777580;
     padding: 1rem 1.25rem;
     background: #f0f0f0;
}

p.sub-tittle-item {
    font-size: 1rem;
    color: #f34635;
    text-align: center;
    margin: 1.5rem 0;
}

.btn-item>button,.btn-item>a {
    margin-bottom: 1rem;
    width: 75%;
    background: #91a7cf;
    font-size: 1.5rem;
    border-radius: 2rem;
    box-shadow: inset 0 -0.16667rem 0 0 rgba(0, 0, 0, .3);
}

.item-info-user>p {
    font-size: 1.5rem;
}

.hide-age-user>p {
    font-size: 1.2rem;
}


/* Form switch */

#func_ind_fix {
     display: none;
}

/* `Form Switch */

.form-switch {
    display: inline-block;
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
}

.form-switch i {
    position: relative;
    display: inline-block;
    /* margin-right: .5rem; */
    width: 46px;
    height: 26px;
    background-color: #e6e6e6;
    border-radius: 23px;
    vertical-align: text-bottom;
    transition: all 0.3s linear;
}

.form-switch i::before {
    content: "";
    position: absolute;
    left: 0;
    width: 42px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    transform: translate3d(2px, 2px, 0) scale3d(1, 1, 1);
    transition: all 0.25s linear;
}

.form-switch i::after {
    content: "";
    position: absolute;
    left: 0;
    width: 22px;
    height: 22px;
    background-color: #fff;
    border-radius: 11px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24);
    transform: translate3d(2px, 2px, 0);
    transition: all 0.2s ease-in-out;
}

.form-switch:active i::after {
    width: 28px;
    transform: translate3d(2px, 2px, 0);
}

.form-switch:active input:checked+i::after {
    transform: translate3d(16px, 2px, 0);
}

.form-switch input {
    display: none;
}

.form-switch input:checked+i {
    background-color: #4a83fb;
}

.form-switch input:checked+i::before {
    transform: translate3d(18px, 2px, 0) scale3d(0, 0, 0);
}

.form-switch input:checked+i::after {
    transform: translate3d(22px, 2px, 0);
}


/* ---Hide age--- */

sup#hide-age:hover {
    cursor: pointer;
}


/* modal thông báo ẩn tuổi */

.modal {
    background: rgba(0, 0, 0, .5);
}


/* INfo basic user */

#Info-basic-username a:hover {
    text-decoration: none;
}

.txt-light {
    color: #899096;
}

.f-18 {
    font-size: 18px;
}

.pt-15 {
    padding-top: 15px !important;
}

.w-40 {
    width: 40%;
}

.w-45 {
    width: 45%;
}

.select-properties-user {
    width: 100%;
    border-radius: 5px;
    padding: 5px;
}


/* Back top */

.back-to-top {
    position: fixed;
    bottom: 25px;
    right: 500px;
    display: none;
    z-index: 1;
}


/* ===================================== Sidebar==================================== */

#side-bar {
    width: 25rem;
    background: #fff;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    overflow-y: auto;
    transition: transform .25s linear;
    transform: translateX(25rem);
}

#side-header>a>img {
    border: 3px solid blue;
    border-radius: 15px;
}

#info-user-header {
    width: 75%;
}

.coin-user>i {
    color: #ffc107
}

.coin-user>i>span {
    font-size: 18px;
    color: #797687;
    margin-left: 7px;
}

#button-function>a.buy-coin {
    text-align: center;
    margin-left: 1rem;
    color: #fff;
    background: #4c71b5;
    padding: 5px;
}

#button-function>a.buy-coin:hover {
    text-decoration: none;
    opacity: 75%;
}

#button-function>a.buy-coin>img {
    width: 2rem;
}

a.highlight-now {
    margin-left: 0.5rem !important;
}

a.highlight-now>i {
    padding: 8px 5px 8px 0px;
}

a.authentic-account {
    background: #78c752 !important;
    margin-right: 10px;
}

a.authentic-account>i {
    padding: 9px;
}


/* animation for highlight now */

@keyframes highlight-now {
    25% {
        background: red;
    }
    50% {
        background: green;
    }
    75% {
        background: violet;
    }
    50% {
        background: tomato;
    }
}

a.highlight-now {
    animation-name: highlight-now;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}


/* list-function */

#list-function>ul>li>a {
    display: block;
    padding: 1rem;
    font-size: 1.3rem;
    font-weight: 700;
    color: #797687;
}

#list-function>ul>li>a:hover {
    text-decoration: none;
}

#list-function>ul>li {
    border-bottom: 1px solid #e1e1e1;
}

#list-function>ul>li>a>img {
    width: 2rem;
    margin-right: 1rem;
}

#list-function>ul>li>a>i {
    font-size: 30px;
    margin-right: 1rem;
}

h3.download-app {
    font-size: 1rem;
    margin-left: 10px;
}


/* menu-footer */

#list-menu-footer>ul>li {
    width: 33.333333333%;
    border-right: .0625rem solid #e1e1e1;
    border-bottom: .0625rem solid #e1e1e1;
    text-align: center;
}

#list-menu-footer>ul>li>a {
    display: block;
    font-size: 1.15rem;
    padding: 1rem .5rem;
    color: #797687;
    text-decoration: none;
    text-align: center;
}


/* Đỗ Văn hoàng */

#content-half nav {
    padding: 5px 10px 0px;
}

#content-half nav a {
    color: #000;
    font-weight: 600;
}

#content-half nav a.active {
    background-color: #fff;
    border-bottom: 4px solid #4c71b5;
    color: #4c71b5!important;
}

.carousel-item img {
    display: block;
    height: 50%;
}

.carousel-inner {
    padding: 10px 60px;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    color: #4c71b5;
}

.carousel-indicators li {
    width: 13px!important;
    height: 13px!important;
    background-color: #91a7cf!important;
    border-radius: 50%!important;
}

.carousel-indicators li.active {
    background-color: #4c71b5!important;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
    background-color: #000!important;
}

.carousel-inner h3 {
    font-size: 1.25rem;
    color: #4c71b5;
    font-weight: 700;
}

.carousel-inner p {
    font-size: 1rem;
    color: #797687;
}

.filter-image a img {
    width: 407px;
    height: 509px;
}

.txt-right-mc span,
i {
    font-size: 20px;
}

.txt-right-mc i {
    color: #4c71b5;
}

.simple-filter {
    max-width: 407px;
    margin: 0px auto;
}

.filter-image {
    position: relative;
}

.info {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-weight: 600;
}

.info span.tab-half-1-info {
    margin-bottom: 5px;
    font-size: 20px;
}

.filter-image {
    color: #fff;
}

.over button {
    padding: 10px 56px;
    border-radius: 28px;
    color: #797687;
    background-color: #c9c9c9;
    font-weight: 600;
    border: #c9c9c9;
}

.like button {
    padding: 10px 56px;
    background-color: #91a7cf;
    color: #fff;
    border-radius: 28px;
    font-weight: 600;
    border: #91a7cf;
}

.like button img {
    width: 20px;
}

.simple-filter-content {
    background-color: #f0f0f0;
}

.like button:hover {
    background-color: #c8d3e7;
}

.over button:hover {
    background-color: #e4e4e4;
}

.banner-tab-half-2 {
    cursor: pointer;
}


/*style step-half-2  */

.banner-tab-half-2 {
    background-color: #fbe1e2;
    color: #4c71b5;
    display: flex;
    padding-left: 10px;
    border-radius: 10px;
    margin-bottom: 10px;
}

.banner-tab-half-2-content {
    padding-top: 8px;
}

.banner-tab-half-2-content span {
    background-color: #fdf0ab;
}

.banner-tab-half-2-content p {
    font-size: 18px;
    font-weight: 600;
}

.banner-tab-half-2 {
    position: relative;
}

.image-tab {
    height: 50px;
    position: absolute;
    right: 40px;
    top: 15%;
}

.banner-tab-half-2 {
    position: relative;
}

.banner-tab-half-2-meta {
    position: absolute;
    right: 15px;
    top: 33%;
}

#tab-half-2 .card-link {
    position: relative;
}

#tab-half-2 .card-vote {
    position: absolute;
    right: 25px;
    top: 10px;
}

.card-vote .btn-vote {
    background-color: rgba(0, 0, 0, .5);
    border: 1px solid #fff;
    border-radius: 35px;
    color: #fff;
}

.card-link {
    padding-bottom: 15px;
}


/*end style tab-half-2  */

.card-tab-half-3 {
    padding-bottom: 10px;
}

i.fa-sliders-h {
    cursor: pointer;
    font-size: 20px;
    color: #4c71b5;
}

.card-upper {
    position: relative;
}

.card-tab-half-3 p {
    margin-bottom: 3px;
}

.card-meta {
    position: absolute;
    left: 10px;
    bottom: 0px;
}

.card-meta span.card-upper-name {
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.card-meta p.card-upper-where {
    color: #91a7cf;
}

.card-under p.card-under-job {
    color: #899096;
    font-size: 17px;
}

.card-under p.card-under-info-job {
    font-size: 17px;
    color: #4c71b5;
}

.card-under {
    background-color: #f0f0f0;
    padding: 0.67rem;
}

.card-under-button img {
    height: 22px;
}

.card-under-button button {
    text-align: center;
    border-radius: 20px;
    background-color: #4c71b5;
}

.dot {
    display: inline-block;
    width: .75rem;
    height: .75rem;
    border-radius: 50%;
    box-shadow: 0 0 0.33333rem rgba(0, 0, 0, .3);
}

.dot--active {
    background: #78c752;
}

.mrs {
    margin-right: .5rem;
}


/*end tab-half-3*/


/*start style tab-half-4*/

#tab-half-4 .form-panel {
    padding: 10px 18px;
    background-color: #f0f0f0;
    color: #555;
    font-size: 20px;
}

#tab-half-4 .form-panel p {
    color: #555;
    margin-bottom: 0px;
    font-weight: 700;
}

#tab-half-4 .form-panel a {
    text-decoration: none;
}

#tab-half-4 .container h3 {
    margin: .4em 0;
    font-size: 1.17rem;
    font-weight: 400;
    color: #4c71b5;
}

#tab-half-4 .form-group select {
    background-color: rgb(241, 241, 241);
}

#tab-half-4 .pos {
    position: relative;
    cursor: pointer;
}

#tab-half-4 .pos i {
    position: absolute;
    right: 17px;
    top: 30%;
}

.tab-half-4-button button {
    border-radius: 20px;
    font-weight: 700;
    color: #fff;
}

.tab-half-4-button button.again {
    background: #c9c9c9;
}

.tab-half-4-button button.search {
    background-color: #91a7cf;
}


/*end-tab-half-4*/


/*end tab-1*/


/*start style tab-2*/

#content-likeme .container .col-12 p {
    padding-left: 1rem;
    margin: 1rem 0;
    font-size: 1.25rem;
    color: #4c71b5;
    border-left: .5rem solid currentColor;
    font-weight: 700;
}

.txt-bold {
    font-weight: 700;
}

.txt-light {
    color: #899096;
    font-size: 19px;
}

.tab-likeme-content button {
    border-radius: 20px;
    background-color: #91a7cf;
    font-weight: 700;
}

#content-chat .btn-ground {
    display: flex;
    cursor: pointer;
    margin: 10px 0px 15px 0px;
}

#content-chat .btn-ground a {
    flex: 1;
    text-align: center;
    font-size: 1rem;
    padding: 6px;
    text-decoration: none;
}

.btn-ground a {
    color: #899096;
}

.btn-ground a.active {
    background-color: #4c71b5;
    color: #fff;
}

.btn-ground a.normal {
    border-radius: 20px 0px 0px 20px;
}

.btn-ground a.advance {
    border-radius: 0px 20px 20px 0px;
    border: 1px solid #4c71b5;
}

.top-bar .form-group {
    margin-bottom: 0px;
}

.top-bar {
    position: relative;
}

.top-bar button {
    position: absolute;
    right: 7px;
    top: 28%;
}

.top-bar {
    padding: 14px 10px;
    background: #4c71b5;
}

.edit-messages {
    color: #4c71b5
}

a.media {
     padding: 1rem;
}

a.media:hover {
     background-color: #e1e1e1;
     text-decoration: none;
}

a.media > img {
     width: 5rem;
     height:5rem;
}

.media-body {
    padding-left: 15px;
    padding-top: 17px;
    color: #797687;
}

.media-body h5 {
    margin-bottom: 0px;
}

#content-chat a.tab3-1 {
    border: 1px solid #4c71b5;
    border-radius: 20px 0px 0px 20px;
}

#content-chat a.tab3-2 {
    border: 1px solid #4c71b5;
    border-radius: 0px 20px 20px 0px;
}

#content-chat a.active {
    background-color: #4c71b5;
}

.card-image:hover img {
    border: 1px solid #999;
}