<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <!-- CSS ~/Public/lib -->
     <link rel="stylesheet" href="~/Public/Asset/css/reset.css">
     <link rel="stylesheet" href="~/Public/Asset/css/global.css">
     <!-- Font-Awesome ~/Public/lib -->
     <link rel="stylesheet" href="~/Public/lib/Fontawesome/css/all.css">

     <!-- jQuery -->
     <!-- Font Google -->
     <link href="https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap" rel="stylesheet">
     <!-- Bootstrap CSS + JS-->
     <link rel="stylesheet" href="~/Public/lib/bootstrap-4.5.0-dist/css/bootstrap.css">
     <script src="~/Public/lib/bootstrap-4.5.0-dist/js/jquery 3.5.0.js"></script>
     <script src="~/Public/lib/bootstrap-4.5.0-dist/js/popper.min.js"></script>
     <script src="~/Public/lib/bootstrap-4.5.0-dist/js/bootstrap.js"></script>
     <title>@ViewBag.Title</title>
</head>
