
@{
     ViewBag.Title = "Blog_Detail";
     Layout = "~/Views/Shared/_Layout.cshtml";
     var blog = ViewBag.blog;
     var nameCategory = ViewBag.category;
}
<link rel="stylesheet" href="~/Public/Asset/css/blog_detail.css"/>
<div id="wp_content">
     <div id="header_blog">
          <h5 class="tittle_blog">@nameCategory</h5>
          <h2 class="description_blog">@blog.tittle</h2>
          <p class="create_date">@blog.create_date</p>
     </div>
     <div id="content" class="mt-5">
          <div class="container">
               <div class="row">
                    <div class="col-md-12">
                         <div class="row">
                              <div class="col-md-9">
                                   <img src="~/Public/Asset/img/@blog.link_img" alt="" class="w-100">
                                   <div class="content_blog">
                                        <p>Dù vậy, ngày nay, cả nam và nữ đều đã chủ động hơn rất nhiều trong chuyện tình cảm. Nếu bạn còn đang hoang mang cách mà mọi người tìm kiếm một nửa trong thời đại 4.0 </p>
                                        <p>hello</p>
                                   </div>
                              </div>
                              <div class="col-md-3">
                                   <div id="recent_blog">
                                        <h5 class="font-weight-bold text-center text-uppercase">Các bài viết gần đây</h5>
                                        <ul class="list-unstyled">
                                             <li class=" mt-3">
                                                  <a href="" class="d-flex">
                                                       <img src="~/Public/Asset/img/Cam-ki-1.jpg" alt="" class=" mr-2">
                                                       <p>Cách để bạn trở nên thu hút trong mắt bạn gái khi hẹn hò online</p>
                                                  </a>
                                             </li>
                                             <li class=" mt-3">
                                                  <a href="" class="d-flex">
                                                       <img src="~/Public/Asset/img/Cam-ki-1.jpg" alt="" class=" mr-2">
                                                       <p>Cách để bạn trở nên thu hút trong mắt bạn gái khi hẹn hò online</p>
                                                  </a>
                                             </li>
                                             <li class=" mt-3">
                                                  <a href="" class="d-flex">
                                                       <img src="~/Public/Asset/img/Cam-ki-1.jpg" alt="" class=" mr-2">
                                                       <p>Cách để bạn trở nên thu hút trong mắt bạn gái khi hẹn hò online</p>
                                                  </a>
                                             </li>
                                        </ul>
                                   </div>
                                   <div id="category_blog">
                                        <h3 class="font-weight-bold text-center text-uppercase">Chuyên mục</h3>
                                        <ul class="list-unstyled">
                                             <li class=" mt-3">
                                                  <a href="" class="text-uppercase">
                                                       bí kíp yêu
                                                  </a>
                                                  <span class="qty_blog">(138)</span>
                                             </li>
                                             <li class=" mt-3">
                                                  <a href="" class="text-uppercase">
                                                       bí kíp yêu
                                                  </a>
                                                  <span class="qty_blog">(138)</span>
                                             </li>
                                             <li class=" mt-3">
                                                  <a href="" class="text-uppercase">
                                                       bí kíp yêu
                                                  </a>
                                                  <span class="qty_blog">(138)</span>
                                             </li>
                                        </ul>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
