
@{
     ViewBag.Title = "MTAhub_Story";
     Layout = "~/Views/Shared/Layout_Blog.cshtml";
}
<link rel="stylesheet" href="~/Public/Asset/css/branding.css">
<!-- CONTENT -->
<div id="wp-content">
     <div class="introduce-webchat">
          <div class="container">
               <div class="row">
                    <div class="col-md-12">
                         <div class="row">
                              <div class="col-md-6 itd-webchat-header">
                                   <h2 class="text-uppercase text-center">MTAhub là gì?</h2>
                              </div>
                              <div class="col-md-6 itd-webchat-content">
                                   <p>
                                        Xuất phát từ mong muốn kết nối những mảnh ghép yêu thương.<b> MTAhub là mạng xã hội hẹn hò nghiêm túc đầu tiên tại Việt Nam</b> thu hút hàng ngàn người độc thân tham gia mỗi ngày. Chúng tôi tin rằng, dù bạn chưa nếm
                                        thử vị ngọt của một mối tình đầu, hay đã mạnh mẽ trải qua những lần đổ vỡ, bạn đều xứng đáng với tình yêu trọn vẹn
                                   </p>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
          <img src="~/Public/Asset/img/Rocket.png" alt="" class="position-absolute">
     </div>
     <div class="useful-webchat position-relative">
          <div class="container">
               <div class="row">
                    <div class="col-md-12">
                         <div class="row">
                              <div class="col-md-6">
                                   <img src="https://cdn-static.ymeet.me/general/BrandingPage/app-screen.png" alt="">
                              </div>
                              <div class="col-md-6 uf-webchat-content">
                                   <h3 class="text-uppercase">mtahub giúp gì cho bạn?</h3>
                                   <ul class="list-unstyled">
                                        <li class="d-flex">
                                             <img src="~/Public/Asset/img/Matched_users.png" alt="">
                                             <div class="featured-content">
                                                  <h4>Tiết kiệm thời gian tìm kiếm</h4>
                                                  <p>Bộ lọc đa dạng và thuật toán ghép đôi thông minh<br>Dựa trên hành vi của người dùng sẽ tìm ra những<br> người đủ điều kiện và phù hợp với bạn.</p>
                                             </div>
                                        </li>
                                        <li class="d-flex">
                                             <img src="~/Public/Asset/img/Verify.png" alt="">
                                             <div class="featured-content">
                                                  <h4>Tiết kiệm thời gian tìm kiếm</h4>
                                                  <p>Bộ lọc đa dạng và thuật toán ghép đôi thông minh<br>Dựa trên hành vi của người dùng sẽ tìm ra những<br> người đủ điều kiện và phù hợp với bạn.</p>
                                             </div>
                                        </li>
                                        <li class="d-flex">
                                             <img src="~/Public/Asset/img/Shield.png" alt="">
                                             <div class="featured-content">
                                                  <h4>Tiết kiệm thời gian tìm kiếm</h4>
                                                  <p>Bộ lọc đa dạng và thuật toán ghép đôi thông minh<br>Dựa trên hành vi của người dùng sẽ tìm ra những<br> người đủ điều kiện và phù hợp với bạn.</p>
                                             </div>
                                        </li>
                                   </ul>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <div class="more-info-webchat">
          <div class="container">
               <div class="row">
                    <div class="col-md-12">
                         <div class="row">
                              <div class="col-md-6">
                                   <div class="row">
                                        <div class="col-md-12 text-center more-info-detail-leftside">
                                             <img src="~/Public/Asset/img/Tech1.png" alt="">
                                             <h4>Ghép đôi thông minh</h4>
                                             <p>Gợi ý những người phù hợp nhất<br> với bạn để đảm bảo ghép đôi có<br> khả năng thành công cao nhất</p>
                                        </div>
                                        <div class="col-md-6 text-center more-info-detail-leftside">
                                             <img src="~/Public/Asset/img/Tech2.png" alt="">
                                             <h4>Loại bỏ người dùng xấu</h4>
                                             <p>Thường xuyên tự động kiểm<br> duyệt và loại trừ người dùng<br> không nghiêm túc khỏi hệ thống</p>
                                        </div>
                                        <div class="col-md-6 text-center more-info-detail-leftside">
                                             <img src="~/Public/Asset/img/Tech3.png" alt="">
                                             <h4>Tìm người tương hợp</h4>
                                             <p>Tìm ra những người có gương mặt<br> "tướng phu thê" với bạn, hoặc tìm<br> theo hình mẫu của bạn</p>
                                        </div>
                                   </div>
                              </div>
                              <div class="col-md-6 text-right more-info-detail-rightside">
                                   <h4 class="text-uppercase">công nghệ<br>chắp cánh tình yêu</h4>
                                   <img src="~/Public/Asset/img/bulb.png" alt="">
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <div class="num-user-webchat">
          <div class="container">
               <div class="row">
                    <div class="col-md-12 text-center">
                         <ul class="list-unstyled">
                              <li>
                                   <img src="~/Public/Asset/img/User.png" alt="">
                                   <h3 class="text-uppercase">1 triệu</h3>
                                   <p class="text-uppercase">Người dùng</p>
                              </li>
                              <li>
                                   <img src="~/Public/Asset/img/Like.png" alt="">
                                   <h3 class="text-uppercase">57.9 triệu</h3>
                                   <p class="text-uppercase">lượt thích</p>
                              </li>
                              <li>
                                   <img src="~/Public/Asset/img/Match.png" alt="">
                                   <h3 class="text-uppercase">5.1 triệu</h3>
                                   <p class="text-uppercase">lượt ghép đôi</p>
                              </li>
                         </ul>
                    </div>
               </div>
          </div>
     </div>
     <div class="comment-user-webchat">
          <div class="comment-user-tittle container">
               <div class="row">
                    <div class="col-md-12 text-center">
                         <h3 class="text-uppercase">người dùng nói gì</h3>
                         <p>Đã có gần 8000 trái tim hạnh phúc chung đôi nhờ<br>Ymeetme trong suốt một năm vừa qua</p>
                    </div>
               </div>
          </div>
          <div class="container comment-user-content">
               <div class="row">
                    <div class="col-md-12">
                         <div class="row">
                              <div class="col-md-6">
                                   <p class="comment">Đã gặp 1 bạn nữ ngang tuổi, rất dễ thương và nghiêm túc, tuy 1 lần thôi nhưng mà có sự tin tưởng về web này</p>
                                   <div class="user-info text-center">
                                        <img src="~/Public/Asset/img/Male-user.png" alt="">
                                        <h3 class="user-name text-uppercase">tiến duật</h3>
                                        <p class="user-address">Tỉnh Thái Bình</p>
                                   </div>
                              </div>
                              <div class="col-md-6">
                                   <p class="comment">Dịch vụ khá thú vị, mọi người rất nghiêm túc và cư xử văn minh. Mình cảm thấy rất vui vẻ và hạnh phúc.</p>
                                   <div class="user-info text-center">
                                        <img src="~/Public/Asset/img/Female-user.png" alt="">
                                        <h3 class="user-name text-uppercase">Kim Như</h3>
                                        <p class="user-address">Tỉnh Ninh Bình</p>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
          <img src="~/Public/Asset/img/users.png" alt="" class="users-img">
     </div>
</div>
<!-- END CONTENT -->
<!-- FOOTER -->
<div id="wp-footer">
     <div class="footer-contact-us">
          <div class="container">
               <div class="row">
                    <div class="col-md-12">
                         <div class="row">
                              <div class="col-md-6">
                                   <div class="row">
                                        <div class="col-md-12">
                                             <div class="row">
                                                  <div class="col-md-6">
                                                       <input type="text" name="firstName" placeholder="Họ">
                                                  </div>
                                                  <div class="col-md-6">
                                                       <input type="text" name="lasttName" placeholder="Tên">
                                                  </div>
                                             </div>
                                        </div>
                                        <div class="col-md-12">
                                             <input type="email" name="email" placeholder="Email">
                                        </div>
                                        <div class="col-md-12">
                                             <input type="text" name="tittle" placeholder="Chủ đề">
                                        </div>
                                        <div class="col-md-12">
                                             <textarea rows="10" cols="40" name="content" placeholder="Nội dung" id="content-input"></textarea>
                                        </div>
                                        <div class="col-md-12 text-center">
                                             <button type="submit" name="btn-submit" class="btn btn-success" id="btn-submit">Gửi</button>
                                        </div>
                                   </div>
                              </div>
                              <div class="col-md-6">
                                   <div id="send-feedback" class="text-right">
                                        <h2 class="text-uppercase font-weight-bold">Hãy chia sẻ quan<br> điểm<br> chúng tôi sẽ lắng<br> nghe</h2>
                                        <p>Nếu bạn có bất kì góp ý hay thắc mắc nào về<br>MTAhub, hãy liên hệ với chúng tôi qua mẫu này<br> và MTAhub sẽ phản hồi lại bạn sớm nhất có thể!</p>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <div class="footer-info-us">
          <div class="container">
               <div class="row">
                    <div class="col-md-12">
                         <div class="row">
                              <div class="col-md-12 mb-5">
                                   <div class="row">
                                        <div class="col-md-3 text-center">
                                             <img src="~/Public/Asset/img/logo.png" alt="">
                                        </div>
                                        <div class="col-md-9 menu-footer">
                                             <ul class="list-unstyled">
                                                  <li>
                                                       <a href="">MTAhub</a>
                                                  </li>
                                                  <li>
                                                       <a href="">Blog tâm sự</a>
                                                  </li>
                                                  <li>
                                                       <a href="">Blog công nghệ</a>
                                                  </li>
                                                  <li>
                                                       <a href=""><i class="fab fa-facebook"></i></a>
                                                  </li>
                                                  <li>
                                                       <a href=""><i class="fab fa-twitter-square"></i></a>
                                                  </li>
                                             </ul>
                                        </div>
                                   </div>
                              </div>
                              <div class="col-md-12 mb-4">
                                   <div class="row">
                                        <div class="col-md-3"></div>
                                        <div class="col-md-9">
                                             <a href=""><img src="~/Public/Asset/img/app_store.svg" alt=""></a>
                                             <a href=""><img src="~/Public/Asset/img/google_play.svg" alt=""></a>
                                        </div>
                                   </div>
                              </div>
                              <div class="col-md-12 mb-4">
                                   <div class="row">
                                        <div class="col-md-4 info-us">
                                             <h4 class="text-uppercase mb-2">học viện kỹ thuật quân sự</h4>
                                             <p>Địa chỉ: 236 Hoàng Quốc Việt, Phường Cổ Nhuế 1, Quận Bắc Từ Liêm, Thành phố Hà Nội, Việt Nam</p>
                                             <p>Điện thoại: (+84)0985592699</p>
                                             <p>Email: hoangbinhmta99@gmail.com</p>
                                        </div>
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4 text-center announce-img ">
                                             <img src="~/Public/Asset/img/dathongbao.png" alt="">
                                        </div>
                                   </div>
                              </div>
                              <div class="col-md-12 text-center text-white">
                                   <p>Developed by Bình + Hoàng CNTT1</p>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
</div>
<!-- END FOOTER -->
@section back_top{
     <a id="back-to-top" href="#" class="btn btn-danger btn-lg back-to-top" role="button"><i class="fas fa-chevron-up"></i></a>
}