
@{
     ViewBag.Title = "Quizz";
     Layout = "~/Views/Shared/_Layout.cshtml";
}
     <link rel="stylesheet" href="~/Public/Asset/css/quizzvui.css">
<!-- CONTENT -->
<div id="wp-content">
     <div class="quizz-game">
          <div class="container">
               <div class="row">
                    <div class="col-md-12  mt-5">
                         <div class="row">
                              <div class="col-md-4 pr-0">
                                   <a href="">
                                        <img src="~/Public/Asset/img/Cover_Nguoi_yeu_ban_la_ai_trong_em_gai_mua.png" alt="" class="img-fluid">
                                   </a>
                              </div>
                              <div class="col-md-8 bg-light pl-4">
                                   <a href="" class="tittle-game">
                                        <h3 class="text-dark mt-2 ">Người yêu bạn là ai trong Em gái mưa?</h3>
                                   </a>

                                   <div class="game-info mt-4">
                                        <i class="fas fa-users text-info"><span class="ml-2 text-secondary">520 người đã chơi</span></i>
                                        <button class="btn btn-success float-right">Bắt đầu</button>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="col-md-12 mt-5">
                         <div class="row">
                              <div class="col-md-4 pr-0">
                                   <a href="">
                                        <img src="~/Public/Asset/img/Cover_ban_se_gap_nguoi_yeu_cua_minh_qua_mang_xa_hoi_nao.png" alt="" class="img-fluid">
                                   </a>
                              </div>
                              <div class="col-md-8 bg-light pl-4">
                                   <a href="" class="tittle-game">
                                        <h3 class="text-dark mt-2 ">Bạn sẽ gặp người yêu tương lai của mình qua mạng xã hội nào?</h3>
                                   </a>
                                   <div class="game-info mt-4">
                                        <i class="fas fa-users text-info"><span class="ml-2 text-secondary">656 người đã chơi</span></i>
                                        <button class="btn btn-success float-right">Bắt đầu</button>
                                   </div>
                              </div>
                         </div>
                    </div>
                    <div class="col-md-12 mt-5">
                         <div class="row">
                              <div class="col-md-4 pr-0">
                                   <a href="">
                                        <img src="~/Public/Asset/img/Cover_ban_se_tan_gai_hieu_qua_nhat_bang_cach_nao.png" alt="" class="img-fluid">
                                   </a>
                              </div>
                              <div class="col-md-8 bg-light pl-4">
                                   <a href="" class="tittle-game">
                                        <h3 class="text-dark mt-2 ">Bạn sẽ tán gái hiệu quả nhất bằng cách nào?</h3>
                                   </a>
                                   <div class="game-info mt-4">
                                        <i class="fas fa-users text-info"><span class="ml-2 text-secondary">385 người đã chơi</span></i>
                                        <button class="btn btn-success float-right">Bắt đầu</button>
                                   </div>
                              </div>
                         </div>
                    </div>
               </div>
          </div>
     </div>
     <div class="download-app text-center">
          <h2>Tải ứng dụng hẹn hò miễn phí MTAhub</h2>
          <div class="installer-app">
               <a href=""><img src="~/Public/Asset/img/app_store.svg" alt="" class="px-2"></a>
               <a href=""><img src="~/Public/Asset/img/google_play.svg" alt="" class="px-2"></a>
          </div>
     </div>
</div>
<!-- END CONTENT -->

