@using BTLWebHenHo.Models
@model List<tbl_quizz>
@{
     ViewBag.Title = "Quizz";
     Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="~/Public/Asset/css/quizzvui.css">
<!-- CONTENT -->
<div id="wp-content">
     <div class="quizz-game">
          <div class="container">
               <div class="row">
                    @foreach (var item in Model)
                    {
                         <div class="col-md-12 mt-5">
                              <div class="row">
                                   <div class="col-md-4 pr-0">
                                        <a href="">
                                             <img src="~/Public/Asset/img/@item.img_tittle" alt="" class="img-fluid">
                                        </a>
                                   </div>
                                   <div class="col-md-8 bg-light pl-4">
                                        <a href="" class="tittle-game">
                                             <h3 class="text-dark mt-2 ">@item.quizz_tittle</h3>
                                        </a>

                                        <div class="game-info mt-4">
                                             <i class="fas fa-users text-info"><span class="ml-2 text-secondary">@item.qty_player người đã chơi</span></i>
                                             <a href="" class="btn btn-success float-right" data-id="@item.id_quizz">Bắt đầu</a>
                                        </div>
                                   </div>
                              </div>
                         </div>
                    }


               </div>
          </div>
     </div>
     <div class="download-app text-center">
          <h2>Tải ứng dụng hẹn hò miễn phí MTAhub</h2>
          <div class="installer-app">
               <a href=""><img src="~/Public/Asset/img/app_store.svg" alt="" class="px-2"></a>
               <a href=""><img src="~/Public/Asset/img/google_play.svg" alt="" class="px-2"></a>
          </div>
     </div>
</div>
<!-- The Modal -->
<div class="modal" id="Game_1">
     <div class="modal-dialog">
          <div class="modal-content">
               <!-- Modal Header -->
               <div class="modal-header">
                    <h4 class="modal-title">Kết quả</h4>
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
               </div>
               <!-- Modal body -->
               <div class="modal-body text-center" id="info_1">


               </div>
               <!-- Modal footer -->
               <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
               </div>
          </div>
     </div>
</div>
@foreach (var item in Model)
{
     <!-- The Modal -->
     <div class="modal" id="Game_@item.id_quizz">
          <div class="modal-dialog">
               <div class="modal-content">
                    <!-- Modal Header -->
                    <div class="modal-header">
                         <h4 class="modal-title">Kết quả</h4>
                         <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <!-- Modal body -->
                    <div class="modal-body text-center" id="info_@item.id_quizz">


                    </div>
                    <!-- Modal footer -->
                    <div class="modal-footer">
                         <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
               </div>
          </div>
     </div>
}


<!-- END CONTENT -->
<script>
     $(document).ready(function () {
          $('.game-info>a').on('click', function () {
               var id = $(this).data('id');
               $('#Game_' + id).modal('show');
               $.ajax({
                    url: '/api/Quizz_API/' + id,
                    type: 'GET',
                    contentType: "application/json; charset=utf-8",
                    success: function (res) {
                         $('#info_' + id).html("<h3 class='text-danger'>Đây chính là người yêu bạn</h3><img src='/Public/Asset/img/Avatar/" + res + "' class='img-fluid'/>");                        
                    }
               })
               return false;
          });
     });
</script>
