@model List<BTLWebHenHo.Models.Profile_User>
@{
     Layout = null;
}

<!DOCTYPE html>
<table class="table table-striped table-hover">
     <thead>
          <tr>
               <th>STT</th>
               <th>ID</th>
               <th>Họ tên</th>
               <th>Tuổi</th>
               <th>Địa chỉ</th>
          </tr>
     </thead>
     <tbody>
          <tr>
               <td>1</td>
               <td>1</td>
               <td class="table-success">Hoàng Trọng Bình</td>
               <td>22</td>
               <td>Hưng Yên</td>

          </tr>

     </tbody>
</table>
